@tailwind base;
@tailwind components;
@tailwind utilities;


.img{

  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper > div > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.space{
  letter-spacing: 15px;
}

@layer components {
    .main-image {
        @apply bg-[#000]/50 z-10 scale-150
    }


}
.text-visible{
  background: rgba(0, 0, 0, 0.5);
}

.overlay-color{
  background: rgba(0, 0, 0, 0.3);

}